<div class="sysadmin sidebar-item-inner">
  <div class="sidebar-row sidebar-divide">
    <h3 class="sidebar-divide-inner">
      <i class="fa fa-wrench"></i>
      {{t 'app.sysadminSidebarHeading'}}
    </h3>
  </div>
</div>
