@import 'fonts';
@import 'sharedStyles';

body.module-sysadmin {
  .sidebar {
    .title {
      font-size: 120%;
    }
    .sidebar-item-container {
      margin-top: 15px;
    }
  }

  #app .sysadmin {
    .sysadmin-plugin {
      .form-container-style;

      .title {
        font-size: 110%;
        font-weight: @font-weight-bold;
        margin-bottom: 10px;
      }
      .description {
        margin-bottom: 20px;
      }
    }
  }
}
